label.label {
  margin-bottom: 10px;
}

.label-with-sublabel {
  .label {
    font-size: 1.5rem;
  }

  .sublabel {
    margin-bottom: 10px;
  }
}

input {
  &.form-check-input {
    &[type=checkbox] {
      border-color: var(--bs-white);

      &:checked {
        border-color: var(--bs-primary);
      }
    }
  }
}

.form-control {
  &.form-control-grey {
    background-color: rgba(var(--bs-white-rgb), .1);
    border-color: rgba(var(--bs-white-rgb), .2);
  }
}

textarea {
  resize: none;
}