.mint-tabs {
  display: flex;

  .item {
    color: #575757;
    border-bottom: solid 5px #575757;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    padding: 10px;
    font-size: 32px;
    cursor: pointer;

    &.active {
      background: -webkit-linear-gradient($primary, darken($primary, 40%));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      // -webkit-border-image: -webkit-linear-gradient($primary, darken($primary, 40%));
      // border-image: -webkit-linear-gradient($primary, darken($primary, 40%));
      border-color: $primary;;
    }
  }
}